// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$github-color: #24292E;
$light-blue: #464b5e;
// Font Size
$font-size-large: 1.25rem;
$font-size-small: 1rem;
// Spacing
$s-size: 1%;
$m-size: 2%;
$l-size: 2.5%;
$xl-size: 3%;
$desktop-breakpoint: 45rem;
